@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #004f59;

    & .wrapper {
       position: relative;
       width: 750px;
       height: 450px;
       background: transparent;
       border: 2px solid #00ff87; 
       overflow: hidden;
       box-shadow: 0 0px 25px #00ff87;

       & .form-box {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
        &.login {
            left: 0;
            padding: 0 60px 0 40px;
            
        }

        &.register {
            right: 0;
            padding: 0 40px 0 60px;
        }
        
        & h2 {
            font-size: 32px;
            color: #f6f6f6;
            text-align: center;
            text-transform: uppercase;
            }

        & span {
            font-size: 16px;
            color: #f6f6f6;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            }

        & .input-boxR {
            position: relative;
            width: 100%;
            height: 50px;
            background: transparent;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;

            & label {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                font-weight: 500;
                color: #f6f6f6;
                pointer-events: auto;
                transition: 0.5s;

                & input {
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #f6f6f6;
                    font-size: 16px;
                    color: #00ff87;
                    font-weight: 500;
                    transition: 0.5s;
                    padding-right: 24px;
                    }
                }
            }
            
        & .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            background: transparent;
            margin: 15px 0px;

            & input {
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 2px solid #f6f6f6;
                font-size: 16px;
                color: #f6f6f6;
                font-weight: 500;
                transition: 0.5s;
                padding-right: 24px;

                &:focus~label,
                &:valid~label {
                    top: -5px;
                    color: #00ff87;
                    }
                
                &:focus~i,
                &:valid~i {
                    color: #00ff87;
                    }
                }

            & label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 16px;
                color: #f6f6f6;
                pointer-events: none;
                transition: 0.5s;
                }
            
            & i {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: 18px;
                color: #f6f6f6;
                transition: 0.5s;
                }
            }
        & .btn {
            position: relative;
            width: 100%;
            height: 45px;
            background: transparent;
            border: 2px solid #00ff87;
            outline: none;
            border-radius: 40px;
            cursor: pointer;
            font-size: 16px;
            color: #f6f6f6;
            font-weight: 600;
            z-index: 1;
            transition: 0.5s;
            overflow: hidden;

            &:hover::before {
                top: 0;
                transition: 0.5s;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 300%;
                left: 0;
                top: -100%;
                z-index: -1;
                background: linear-gradient(#004f59, #00ff87, #004f59, #00ff87);
                transition: 0.5s;
                }
            }

        & .register-link-div {
            font-size: 14.5px;
            color: #f6f6f6;
            text-align: center;
            margin: 20px 0px 10px;
            
            & p {


                & a {
                    color:#00ff87;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                    }
                    }
                }
            }
        & .login-link-div {
            font-size: 14.5px;
            color: #f6f6f6;
            text-align: center;
            margin: 20px 0px 10px;
                
            & p {
    
    
                & a {
                    color:#00ff87;
                    text-decoration: none;
                    font-weight: 600;
    
                    &:hover {
                        text-decoration: underline;
                        }
                    }
                }
            }
        }

    & .info-text {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &.login {
            right: 0;
            text-align: right;
            padding: 0 40px 60px 140px;
            
            }

        &.register {
            left: 0;
            text-align: left;
            padding: 0 140px 60px 40px;
            pointer-events: none;
            }

        & h2 {
            font-size: 32px;
            color: #f6f6f6;
            line-height: 1.3;
            text-transform: uppercase;

            }


        & p {
            font-size: 16px;
            color: #f6f6f6;
            }   

        }
    & .bg-animate {
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #00ff87;
        background: linear-gradient(45deg, #004f59, #00ff87);
        transform: rotate(10deg) skewY(40deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s ;
        }

    &.active .bg-animate {
        transform: rotate(0) skewY(0);
        transition-delay: 0.5s ;
        }

    & .bg-animate2 {
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #00ff87;
        background: #004f59;
        transform: rotate(0) skewY(0);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s ;
        }

    &.active .bg-animate2 {
            transform: rotate(-11deg) skewY(-41deg);
            transition-delay: 1.2s ;

        }
    }
}
 /* login */
.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j)); 
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);   
    filter: blur(4px);
    transition-delay: calc(.1s * var(--i));    
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j)); 
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);   
    filter: blur(4px);
    transition-delay: calc(.1s * var(--i));    
}

/* register */
.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(4px);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j)); 
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;   
    filter: blur(0);
    transition-delay: calc(.1s * var(--i)); 
}

.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(4px);
    transition: 0.7s ease;
    transition-delay: calc(.1s * var(--j)); 
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0); 
    opacity: 1;  
    filter: blur(0px);
    transition-delay: calc(.1s * var(--i));    
}

.wrapper.active .info-text.register {
    pointer-events: auto;
}

.mobile{
    display: none;
  }

  .texto-info {
    display: none;
  }
  
  @media (max-width: 768px) {

    body {
        overflow: hidden;
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .wrapper {
        display: none;
    }

    .mobile {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #004f59;
        max-height: 540px;
        max-width: 768px;
        width: 75%;
        overflow: hidden;
        border-radius: 12px;
        border: 2px solid #00ff87;
        box-shadow: 0px 0px 12px #00ff87;
      }
    
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 14px;
        padding: 32px;
        
      }
    
      /*checkbox to switch from sign up to login*/
      #chk {
        display: none;
      }
    
      .login {
        position: relative;
        width: 100%;
        height: 100%;
      }
    
      .login label {
        margin: 5% 0 5%;
      }
    
      label {
        color: #f6f6f6;
        text-shadow: 2px 2px 5px #00ff87;
        font-size: 4rem;
        justify-content: center;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        transition: .6s ease-in-out;
        text-transform: uppercase;
      }
    
      .input {
        width: 100%;
        height: 52px;
        background: #f6f6f6;
        padding: 12px;
        border: none;
        outline: none;
        border-radius: 8px;
        border: 1px solid #00ff87;
      }

      input::placeholder {
        font-size: 1rem;
      }
    
      .register {
        background: #00424a;
        border-radius: 40px 40px 0 0;
        transform: translateY(5%);
        transition: .8s ease-in-out;
      }
    
      .register label {
        color: #00ff87;
        text-shadow: 2px 2px 5px #f6f6f6;
        transform: scale(.5);
      }
    
      #chk:checked ~ .register {
        transform: translateY(-65%);
      }
    
      #chk:checked ~ .register label {
        transform: scale(.75);
      }
    
      #chk:checked ~ .login label {
        margin-top: 0px;
        margin-bottom: 2rem;
        transform: translateY(-10%) scale(.6) ;
      }
      

      /*Button*/
      .form button {
        width: 100%;
        height: 40px;
        margin-bottom: 12px;
        color: #fff;
        background: #004f59;
        font-size: 1.25rem;
        font-weight: bold;
        border: 2px solid #00ff87;
        border-radius: 20px;
        cursor: pointer;
        transition: .2s ease;
        text-transform: uppercase;
      }
    
      .form button:hover {
        background-color: #00ff87;
        box-shadow: 0px 0px 4px #00ff87;
        transform: scale(1.05);
      }    

      .texto-info {
        width: 100%;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        padding: 1rem;
        overflow: hidden;
      }

      & h2 {
        font-size: 32px;
        color: #00ff87;
        line-height: 1.3;
        text-transform: uppercase;

        }


    & p {
        font-size: 16px;
        color: #f6f6f6;
        text-align: center;
        } 

}